<a href="https://colab.research.google.com/github/dongin0524/python/blob/main/20210914_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[1,2,3,4,5]
b=(1,2,3,4,5)

c = tuple(a)
print(c)
print(type(c))

e = set(a)
print(e)
print(type(e))

f = list(a)
print(f)
print(type(f))

(1, 2, 3, 4, 5)
<class 'tuple'>
{1, 2, 3, 4, 5}
<class 'set'>
[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1,11):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
sum = 0 
for i in range(1,11):
  sum = sum + i
print(sum)

55

In [ ]:
# 101부터 199까지 합을 출력하는 프로그램
sum = 0 
for i in range(101,200):
  sum = sum + i
print(sum)

14850

In [ ]:
sum = 0
for i in range(0, 101, 2):
  sum += i 
print(sum)

2550

In [ ]:
for i in range(1,10):
  print('2 x {0} = {1}'.format(i,i*2))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
for i in range(5):
  print('aaa')
  print('bbb')
print('ccc')

aaa
bbb
aaa
bbb
aaa
bbb
aaa
bbb
aaa
bbb
ccc

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print('{0} x {1} = {2}'.format(i,j, i*j))
  print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
a = input('숫자를 입력하세영: ')

if int(a)<2 or int(a)>9:
  print('qt아 구구단 입력해')
else:
 for i in range(1,10):
   print('{0} x {1} = {2}'.format(int(a), j, int(a)*i))

숫자를 입력하세영: 15
qt아 구구단 입력해